<div class="module_article_right_create left">
	<div class="module_article_right_create_top">
		<span>查看留言&nbsp;&nbsp;|&nbsp;&nbsp;<a href="javascript:;" onclick="history.back();">返回</a></span>
	</div>
	<div class="module_article_right_create_main">
		姓名：<?php echo $leaveword['name']; ?><br /><br />
		电话：<?php echo $leaveword['phone']; ?><br /><br />
		邮箱：<?php echo $leaveword['email']; ?><br /><br />
		公司：<?php echo $leaveword['company']; ?><br /><br />
		时间：<?php echo $leaveword['datetime']; ?><br /><br />
		内容：<?php echo $leaveword['content']; ?><br /><br />
	</div>
</div>