<script type="text/javascript">
$(document).ready(function(){
	$("input[name=coltype]").click(function(){
		if($(this).val()=='1'){
			$(".column_url").attr("style","display:none;");
			$(".column_module").attr("style","");
		}else{
			$(".column_url").attr("style","");
			$(".column_module").attr("style","display:none;");
		}
	});
});
</script>
<div class="channel_body center">
	<form method="post" action="admin.php?mod=channeldeal">
	<div class="channel_top">
		<span class="fw700 left">添加栏目&nbsp;&nbsp;|&nbsp;&nbsp;<a href="javascript:;" onclick="history.back();">返回</a></span><span class="right"><input type="submit" value="添加" /></span>
	</div>
	<div class="channel_main">
		<div>
			<table class="center">
			<tr>
				<td width="8%">栏目类型：</td>
				<td width="92%"><input type="radio" name="coltype" value="1" checked="checked" /> 系统内链&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="coltype" value="2" /> 系统外链</td>
			</tr>
			<tr>
				<td width="8%">栏目名称：</td>
				<td width="92%"><input type="text" name="name" class="input_text" /></td>
			</tr>
			<tr class="column_url" style="display:none;">
				<td width="8%">链接地址：</td>
				<td width="92%"><input type="text" name="url" class="input_text" />&nbsp;&nbsp;例如：http://www.hisuncms.com</td>
			</tr>
			<tr class="column_url" style="display:none;">
				<td width="8%">跳转方式：</td>
				<td width="92%"><input type="radio" name="target" value="1" checked="checked" /> 本页 <input type="radio" name="target" value="2" /> 新页</td>
			</tr>
			<tr>
				<td width="8%">栏目设置：</td>
				<td width="92%"><input type="radio" name="hidden" value="0" checked="checked" /> 显示 <input type="radio" name="hidden" value="1" /> 隐藏</td>
			</tr>
			<tr>
				<td width="8%">排序：</td>
				<td width="92%"><input type="text" name="order" class="input_text" style="width:30px" value="0"/></td>
			</tr>
			<tr class="column_module">
				<td width="8%">模块：</td>
				<td width="92%">
				<?php foreach($modules as $module){ ?>
					<input type="radio" name="type" value="<?php echo $module['type']; ?>" <?php if($module['mid'] == '1'){ ?>checked="checked"<?php } ?> /> <?php echo $module['name']; ?>&nbsp;&nbsp;&nbsp;&nbsp;
				<?php } ?>
				</td>
			</tr>
			</table>
		</div>
	</div>
	<input type="hidden" name="channel" value="<?php echo $_GET['chan']; ?>" />
	<input type="hidden" name="parentid" value="<?php echo isset($_GET['pid'])?$_GET['pid']:'0'; ?>" />
	<input type="hidden" name="deep" value="<?php echo isset($_GET['deep'])?$_GET['deep']:'0'; ?>" />
	<input type="hidden" name="pop" value="addcolumn" />
	</form>
</div>