<script type="text/javascript">
$(document).ready(function(){
	$("#column_permit").change(function(){
		$("#is_columnPermitChange").attr("value",'1');
	});
});
</script>
<div class="user_edit_body">
	<div class="user_edit_top fw700">
		修改用户信息&nbsp;&nbsp;|&nbsp;&nbsp;<a href="javascript:;" onclick="history.back();">返回</a>
	</div>
	<div class="">
		<form method="post" action="admin.php?mod=userdeal">
			用户名：<input type="text" name="username" class="input_text" value="<?php echo $userinfo['username'];?>" /><br /><br />
			密&nbsp;&nbsp;&nbsp;&nbsp;码：<input type="password" name="password" class="input_text" />&nbsp;&nbsp;不修改密码请留空<br /><br />
			用户组：<select name="group"  class="user_edit_body_select">
					<?php foreach($usergroups as $usergroup){ ?>
						<option value="<?php echo $usergroup['gid']; ?>" <?php if($userinfo['gid'] == $usergroup['gid']){ ?>selected="selected"<?php }?> ><?php echo $usergroup['name']; ?></option>
					<?php } ?>
					</select><br /><br />
			邮&nbsp;&nbsp;&nbsp;&nbsp;箱：<input type="text" name="email" class="input_text" value="<?php echo $userinfo['email'];?>" /><br /><br />
			栏目权限管理：<br /><br />
			<select size="10" multiple="multiple" name="columns_permit[]" id="column_permit" style="width:150px">
				<?php foreach($columns as $column){ ?>
				<option value="<?php echo $column['cid']; ?>" <?php if(in_array($column['cid'], $columns_permit)){ ?>selected="selected"<?php } ?>><?php echo $column['name']; ?></option>
				<?php } ?>
			</select>
			&nbsp;（按住Ctrl多选）<br /><br /><br />
			<input type="hidden" name="is_columnPermitChange" id="is_columnPermitChange" value="" />
			<input type="hidden" name="uid" value="<?php echo $userinfo['uid'];?>" />
			<input type="hidden" name="pop" value="edit_user" />
			<input type="submit" class="right" value="保存"/><br /><br />
		</form>
	</div>
</div>